@import "./variables.scss";

.tab-personal-info,
.tab-professional-info,
.tab-content-job {
  margin-bottom: 4rem;
}

.tab-personal-info,
.tab-professional-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;

  .text {
    color: gray;
    line-height: 1.5;
    margin: 0;
    flex: 1 0 auto;
    max-width: 650px;
    padding: 0;
  }
}