*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #efefef;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-family: Merriweather;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

blockquote {
  font-family: Merriweather;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
address {
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 24px;
  color: rgba(0,0,0,0.4);
}
address span {
  font-weight: 200;
}
.call-to-action p {
  font-size: 17px;
  margin-top: 22px;
}
.section-title {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 30px;
}

.skills {
  padding: 20px;
}
.skills .experienced {
  border-right: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
}

.skills-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.skill .label.pro {
  color: rgba(0,0,0,0.8);
}
.skill .label.exp {
  color: rgba(0,0,0,0.5);
}
.skill .label.fam {
  color: rgba(0,0,0,0.5);
}

.star {
  height: 20px;
  width: 20px;
  display: inline-block;
}
.star.empty {
  background: url("../images/ios7-star-outline.png") no-repeat 0 0;
  background-size: 100% auto;
}
.star.half {
  background: url("../images/ios7-star-half.png") no-repeat 0 0;
  background-size: 100% auto;
}
.star.full {
  background: url("../images/ios7-star.png") no-repeat 0 0;
  background-size: 100% auto;
}