*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #efefef;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
section {
  padding: 40px;
  border-top: 1px solid rgba(255,255,255,0.2);
  background: #666;
}

.call-to-action {
  background: #ddd;
}
.call-to-action h1 {
  font-size: 28px;
  line-height: 32px;
}
.call-to-action .actions {
  text-align: center;
}
.call-to-action a {
  display: inline-block;
  padding: 20px;
  background: #666;
  border-radius: 6px;
  border: 2px solid #555;
  color: #fff;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
a.is-urgent {
  background: orange;
  /*border-color: #FFCF77;*/
  border-color: #B77600;
}

.skills-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.skills-list .skill {
  width: 33%;
  float: left;
  padding: 20px;
}
.skills-list .label {
  display: block;
  background:red;
}

.star {
  height: 20px;
  width: 20px;
  display: inline-block;
}
.star.empty {
  background: url("../images/ios7-star-outline.png") no-repeat 0 0;
  background-size: 100% auto;
}
.star.half {
  background: url("../images/ios7-star-half.png") no-repeat 0 0;
  background-size: 100% auto;
}
.star.full {
  background: url("../images/ios7-star.png") no-repeat 0 0;
  background-size: 100% auto;
}